# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# native builds
android/
ios/
*.apk
*.aab

# misc
*.log
npm-debug.*
.DS_Store
*.orig.*
.env
.env.local

# signing keys — NUNCA subir a GitHub
*.jks
*.keystore
!debug.keystore

# IDE
.idea/
.vscode/
